.PokeInsert {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.PokeInsert input {
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 5px 0 0 5px;
   width: 300px;
}

.PokeInsert button {
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 0 5px 5px 0;
   padding: 10px 20px;
   cursor: pointer;
}

.PokeInsert button:hover {
   background-color: #45a049;
}
